@keyframes wiggle {
    0% { transform: scale(2) rotate(0deg); }
    25% { transform: scale(2) rotate(-3deg); }
    50% { transform: scale(2) rotate(0deg); }
    75% { transform: scale(2) rotate(3deg); }
    100% { transform: scale(2) rotate(0deg); }
}