* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    font-family: 'Arimo', sans-serif;
}
* {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

img {
    image-rendering: pixelated;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    max-height: 100%;
    width: auto;
}

:root {
    --hacker-rgb: 255, 0, 0;
    --hacker-color: rgb(var(--hacker-rgb));
}

.zone {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.draggable {
    width: 300px;
    cursor: move;
    touch-action: none;
    user-select: none;
    position: absolute;
    z-index: 10;
}
