/* --- GLOBAL RESETS --- */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: "Comic Sans MS", cursive;
    color: white; /* Default text color */
    scroll-behavior: smooth;


}

/* Base styles for common elements */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    max-height: 100%;
    width: auto;
}