/* --- GLOBAL RESETS --- */
* {
    box-sizing: border-box;
}

html, body {
    /* Structure */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Évite le scroll horizontal parasite */

    /* Rendu "Pixel-Perfect" (Désactive le lissage) */
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;

    /* Rendu des images (GIFs et icônes) sans flou */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    font-family: 'Arimo', sans-serif;
}
* {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
}

/* Optionnel : Empêche les images d'avoir un lissage si elles sont étirées */
img {
    image-rendering: pixelated;
}

/* Base styles for common elements */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    max-height: 100%;
    width: auto;
}