

#mespassion {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('assets/bg/corkboard.gif');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#mespassion h1 {
    text-align: center;
    animation: jiggle 2s linear infinite;
    font-size: 40px;
    padding: 20px;
    color: white;
    z-index: 5;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#mespassionTable {
    width: 75%;
    background-color: #1a1f1a;
    background-image: url('assets/bg/chalkboard.png');
    background-repeat: repeat;
    border: 4px ridge #808080;
    color: #ffffff;
    font-family: 'Comic Sans MS', 'Chalkboard', cursive;
    filter: drop-shadow(2px 2px 0px #000000);
}

#mespassionTable td,
#mespassionTable th {
    border: 1px outset #4a4a4a;
    padding: 15px 5px;
    background-color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}


#mespassionTable td:first-child {
    width: 150px;
}

#mespassionTable img {
    width: auto;
    height: auto;
    display: block;
    margin-left: 10px;
}